* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#btn-container {
    margin: 20px 0;
    text-align: center;
}

.btn {
    font-size: 30px;
    padding: 5px;
    border-radius: 8px;
    margin-left: 40px;
}

#container {
    display: flex;
    margin: auto;
    width: 900px;
    flex-wrap: wrap;
}

.cell {
    border: 1px solid black;
}
